<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk4KVO6KWt6tUh_7qf1zw8WrheRBogetU</string>
	<key>GCM_SENDER_ID</key>
	<string>900773429641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppProject</string>
	<key>PROJECT_ID</key>
	<string>todo-app-project-e42df</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-project-e42df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900773429641:ios:15c09298a236f46fb12158</string>
</dict>
</plist>